<% content_for :sidebar do %>
 <div data-hook="homepage_sidebar_navigation">
 <a href="https://www.facebook.com/share.php?url=<%= request.url %>" rel="nofollow" target="_blank"><%= image_tag 'facebook-icon2.png'%></a>

    <%= render partial: 'spree/shared/taxonomies' %>
    <img src="<%= asset_path "background_image_dayo.jpg" %>" />
    <div style="background:url(<%= asset_path "background_image_dayo.jpg" %>)" />

  </div>
<% end %>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <h1>てろろんマーケット</h1>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>

  <% end %>
</div>
